body {
    padding-top: 50px;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.table td {
    text-align: left;
}

.nobr {
    white-space: nowrap;
}

pre {
    text-align:left;
}
